@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


@mixin SourceSans3 {
    font-family: 'Source Sans 3 Variable', sans-serif;
}

.header_1__phone_cities {
    width: 100%;
    height: 44px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 110;

    .plus__search {
        color: $color;
        text-decoration: none;
        display: block;
        width: 38px;
        min-width: 38px;
        height: 18px;
border-right: 1px solid #E0E0E0;
        margin-right: 11px;

        background-position: center ;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy41IDcuNUMxMy41IDEwLjgxMzUgMTAuODEzNSAxMy41IDcuNSAxMy41QzQuMTg2NSAxMy41IDEuNSAxMC44MTM1IDEuNSA3LjVDMS41IDQuMTg2NSA0LjE4NjUgMS41IDcuNSAxLjVDMTAuODEzNSAxLjUgMTMuNSA0LjE4NjUgMTMuNSA3LjVaIiBzdHJva2U9IiM2Rjc4OTMiIHN0cm9rZS13aWR0aD0iMS4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTE2LjUgMTYuNUwxMiAxMiIgc3Ryb2tlPSIjNkY3ODkzIiBzdHJva2Utd2lkdGg9IjEuMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=');


    }

    .phone_rack {
        a {
            color: $color;
            font-weight: 600;
            text-decoration: none;
            display: block;

        }
    }

    .cities {
        padding: 0 0 0 20px;

        .city_rack {
            display: flex;
            align-items: center;

            span {
                color: $colorGrey;
                cursor: pointer;
                transition: 0.2s;
                min-width: 88px;
                display: flex;
                justify-content: end;
            }

            span:hover {
                color: $colorRed;
            }

            i {
                width: 12px;
                height: 6px;
                display: inline-block;
                font-style: normal;
                background-position: 0 1px;
                background-repeat: no-repeat;
                background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEyIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjMzMzAxIDAuNjY2MDE2TDUuOTk5NjcgNC42NjYwMkwxMC42NjYzIDAuNjY2MDE2IiBzdHJva2U9IiM2Rjc4OTMiIHN0cm9rZS13aWR0aD0iMS4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
                transition: 0.3s;
                margin-left: 6px;


                &.active {
                    transform: rotateX(180deg);
                }
            }

        }

    }
}

.cities_list {
    position: relative;
    min-height: 1px;
    z-index: 110;

    .cities_list__ul {
        display: none;
        opacity: 0;
        position: absolute;
        top: 18px;
        right: 0;
        min-width: 300px;
        border-radius: 12px;
        padding: 16px;
        border: 1px solid #E0E0E0;
        background-color: #FFFFFF;

        &.active {
            display: block;
        }

        .city_li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 30px;
            font-size: 14px;
        }

        .city_li-name:hover {
            position: relative;
            cursor: pointer;
            text-decoration: underline;
        }

    }
}

/* This only changes this particular animation duration */
.animate__animated.animate__fadeInDown {
    --animate-duration: 0.4s;
}
