.editor-trix {
    padding-bottom: 30px;

    .trix-button-group {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        border:none;
        button {
            width: auto;
            height: 24px;
            display: inline-table;
            text-align: center;
            padding: 0 8px;
            background: #EF533F;
            border-radius: 4px;
            border: 1px solid #EF533F;
            color: #FFFFFF;
            position: relative;
            transition: 0.3s;
            text-decoration: none !important;
            font-size: 12px;
            font-weight: 300;
            line-height: 24px;
            &.trix-active {
                background: #fff;
                color:#EF533F ;
            }
        }
    }
    trix-editor {
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        margin: 0;
        padding: 16px 0.6em;
        min-height: 5em;
        outline: none;
        line-height: 1.6em;

    }
    trix-editor:empty::before {
        font-weight: 400;
    }

}
