@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


@mixin SourceSans3 {
    font-family: 'Source Sans 3 Variable', sans-serif;
}

.mobile_mobile-menu {
    display: none;
}

@media screen and (min-width: 0) and (max-width: 742px) {
    .mobile_mobile-menu {
        display: block;

        .mobile_content {
            position: fixed;
            bottom: 56px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            z-index: 100;

            .mobile_content__absolute {
                position: absolute;
                background: #fff;
                width: 100%;
                padding: 18px 0 0 0;
                border-radius: 10px 10px 0 0;
                max-height: 70%;
                overflow: auto;
                bottom: -3px;

                .mobile_content_top {
                    height: 24px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 8px 16px 26px 16px;

                    .m_m_top_label {
                        font-weight: 600;
                    }
                }

                .mobile_content_middle {
                    padding: 5px 16px 5px 16px;
                }


            }

        }

        .mobile_menu {
            position: fixed;
            display: block;
            width: 100%;
            height: 54px;
            padding: 4px 0 0 0;
            border-top: 1px solid #eaeaea;
            bottom: 0;
            background: #ffffff;

            .m_flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                width: 100%;
                height: 100%;

                .m_default {
                    width: 25%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-decoration: none;
                    color: $colorGrey;


                    .m_img {
                        display: flex;
                        align-items: end;
                        flex-direction: column;

                        .m_img_active {
                            display: none;
                        }
                    }

                    span.m_title {
                        width: 100%;
                        font-size: 12px;
                        display: block;
                        text-align: center;
                        padding: 2px 2px 0 2px;
                    }

                    &.active {
                        color: $colorRed;

                        .m_img {
                            .m_img_active {
                                display: block;
                            }

                            .m_img_default {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    /** дополнительно  **/
    .site_transitions {
        flex-direction: column;

        .s_transition {
            display: flex !important;
            align-items: center;
            justify-content: center;
            border-radius: 12px !important;
            height: 44px;
            padding: 0 16px;
            text-decoration: none;
            transition: 0.3s;
            background: #F5F5F7;
            border: 1px solid #F5F5F7;
            margin-bottom: 5px;
            position: relative;
            color: $color;

            .s_transition__1 {
                padding-left: 38px;
                background-position: 5px 8px;
                background-repeat: no-repeat;
                border-radius: 0;
                height: 100%;
                display: flex;
                align-items: center;
            }

            .s_transition__2 {
                padding-left: 38px;
                background-position: 5px 8px;
                background-repeat: no-repeat;
                border-radius: 0;
                height: 100%;
                display: flex;
                align-items: center;
            }


        }
    }

    /** дополнительно **/
    .mobile_content_language {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        background: #F7F7F7;
        padding: 5px 16px 5px 16px;

        .m_m_top_label {
            display: flex;
            justify-content: start;
            align-items: center;
            font-weight: 600;
            height: 56px;
        }

        .hot_land_mobile {

            width: 140px;
            height: 56px;
        }

    }

    /** дополнительно **/
    .mobile_content_menu {

        .top_menu {
            li {
                display: block;
                width: 100%;

                &:hover .submenu {
                    visibility: visible;
                    opacity: 1;
                    transform: translate(0, 0);
                }


                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-decoration: none;
                    font-size: 15px;
                    color: $color;
                    width: 100%;
                    height: 44px;
                    border-bottom: 1px solid #E0E0E0;
                    padding: 0 10px !important;
                    position: relative;
                    z-index: 100;

                    em.arrow {
                        left: 0;
                        position: relative;
                        width: 50px;
                        height: 44px;
                        z-index: 200;

                        &:before {
                            content: "";
                            width: 11px;
                            height: 1px;
                            display: block;
                            position: absolute;
                            background: $color;
                            transform: rotate(38deg);
                            top: 20px;
                            left: 15px;
                        }

                        &:after {
                            content: "";
                            width: 11px;
                            height: 1px;
                            display: block;
                            position: absolute;
                            background: $color;
                            transform: rotate(-38deg);
                            top: 20px;
                            right: 15px;
                        }
                    }

                    /** active  **/

                    em.arrow.active {
                        left: 0;
                        position: relative;
                        width: 50px;
                        height: 44px;
                        z-index: 200;

                        &:before {
                            content: "";
                            width: 11px;
                            height: 1px;
                            display: block;
                            position: absolute;
                            background: $color;
                            transform: rotate(-38deg);
                            top: 20px;
                            left: 15px;
                        }

                        &:after {
                            content: "";
                            width: 11px;
                            height: 1px;
                            display: block;
                            position: absolute;
                            background: $color;
                            transform: rotate(38deg);
                            top: 20px;
                            right: 15px;
                        }
                    }
                }

                &.active > a {
                    color: $colorRed;
                }

            }

            .submenu {
                position: relative;
                z-index: 102;
                left: 0 !important;
                top: 0 !important;
                width: 100%;
                height: auto;
                padding: 0;
                margin-top: 0;
                background: #ffffff;
                border-radius: 0;
                box-shadow: none;
                box-sizing: border-box;
                visibility: revert;
                opacity: 1;
                transform: translate(0, 0);
                transition: 0.3s;
                display: none;
            }

        }
    }

}


