@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;
.flashMessage__wrap {
    width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 200;
    top: 40px;

    .flashMessage {
        position: fixed;
    }


    .message {
        background-color: white;
        width: 600px;
        padding: 1em 1em 1em 1.5em;
        border-left-width: 6px;
        border-left-style: solid;
        border-radius: 3px;
        position: relative;
        line-height: 1.5;
        z-index: 200;


        & + & {
            margin-top: 2em;
        }

        &:before {
            color: white;
            width: 1.5em;
            height: 1.5em;
            position: absolute;
            top: 1em;
            left: -3px;
            border-radius: 50%;
            transform: translateX(-50%);
            font-weight: bold;
            line-height: 1.5;
            text-align: center;
        }

        p {
            margin: 0 0 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .message--error {
        border: 1px solid $colorRed;
        border-left-color: $colorRed;
        border-left-width: 6px;
        border-left-style: solid;
        color: #842029;
        background-color: #f8d7da;

        &:before {
            background-color: $colorRed;
            content: "‼";
        }
    }

    .message--warning {
        border: 1px solid darkorange;
        border-left-color: darkorange;
        border-left-width: 6px;
        border-left-style: solid;

        &:before {
            background-color: darkorange;
            content: "!";
        }
    }

    .message--success {
        border: 1px solid darkolivegreen;
        border-left-color: darkolivegreen;
        border-left-width: 6px;
        border-left-style: solid;
        background-color:#d1e7dd;
        color: #0f5132;
        &:before {
            background-color: darkolivegreen;
            content: "✔";
        }
    }


    .btn-close {
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        padding: .25em .25em;
        color: #000;
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
        border: 0;
        border-radius: .25rem;
        opacity: .5;
        right: 12px;
        position: absolute;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 742px) {
    .flashMessage__wrap {
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 200;
        top: 40px;

        .flashMessage {
            position: fixed;
            width: 97%;
            left: 2%;
            right: 1%;
        }


        .message {
            width: 100%;
            padding: 1em 1em 1em 1.5em;
            border-left-width: 6px;
            border-left-style: solid;
            border-radius: 3px;
            position: relative;
            line-height: 1.5;
            z-index: 200;
        }
    }
}
