@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.content-registry-user-component {
    position: relative;

    .ru_list {
padding: 16px 0 0 0;
        .ru_list__option {
            position: relative;
            display: flex;
            padding: 10px 0;

            .ru_l {
                width: 170px;
                min-width: 170px;
                color: $colorBlue;
                padding: 0 30px 0 0;
            }
            .ru_r {
                width: 100%;
            }
        }
    }
}
@media (max-width: 800px) {
    .content-registry-user-component {
        position: relative;

        .ru_list {
            padding-bottom: 30px;
        }
    }
}
