.ss_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            opacity: 0.6
        }
    }
}

.social_header-socialnetwork-component {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 52px;
    width: 100%;

    .ss_social {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        a {

            height: 40px;
        }

    }
}
