@import 'pagination.scss';
@import 'general-style/paddind.scss';
@import 'general-style/width.scss';
@import 'general-style/button.scss';
@import '@fontsource-variable/source-sans-3';
@import 'loader_map.css';


@import 'contacts/contacts.scss';
@import 'components/checking-counterparty/checking-counterparty-component.scss';
@import 'components/home/output-category-component.scss';
@import 'components/home/output-news-component.scss';
@import 'components/home/output-service-category-component.scss';
@import 'components/home/everything-personal-account-component.scss';
@import 'components/home/consultation-component.scss';
@import 'components/home/useful-info-component.scss';
@import 'components/contacts/city-component.scss';
@import 'components/logo/logo-component.scss';
@import 'components/enter/header-enter-component.scss';
@import 'components/social_network/header-socialnetwork-component.scss';
@import 'components/language/header-language-component.scss';
@import 'components/menu/footer-and-hamburger-menu.scss';
@import 'components/menu/header-menu-component.scss';
@import 'components/menu/hamburger-component.scss';
@import 'components/menu/left-menu-component.scss';
@import 'components/search/exchange.scss';
@import 'components/buttons/buttons.scss';
@import 'components/content/content-registry-search-component.scss';
@import 'components/content/content-registry-teaser-component.scss';
@import 'components/content/content-registry-user-component.scss';
@import 'components/content/content-component.scss';
@import 'components/content/content-other-component.scss';
@import 'components/content/tooltip.scss';
@import 'components/content/tooltip.scss';
@import 'components/content/download-file.scss';
@import 'components/content/teaser.scss';
@import 'components/content/content-faq-component.scss';
@import 'components/content/content-tarif-component.scss';
@import 'components/tax/tax-content-component.scss';
@import 'components/mzp/mzp-content-component.scss';
@import 'components/form/form-input-component.scss';
@import 'components/form/form-blue-component.scss';
@import 'components/form/form-exclamation.scss';
@import 'components/form/form-select-component.scss';
@import 'components/form/form-loader-component.scss';
@import 'components/form/form-response-component.scss';
@import 'components/form/form-radio2-component.scss';
@import 'components/form/form-checkbox3-component.scss';
@import 'components/form/form-upload-files-component.scss';
@import 'components/cabinet-user/cabinet-user-top-menu-component.scss';
@import 'components/cabinet-user/cabinet-user-personal-component.scss';
@import 'components/cabinet-user/cabinet-user-personal-data-relation-component.scss';
@import 'components/cabinet-user/cabinet-user-update-component.scss';
@import 'components/cabinet/main-manager.scss';
@import 'components/avatar/avatar-user-component.scss';
@import 'auth/auth.scss';
@import 'message/flach_message.scss';
@import 'font-awesome/css/font-awesome.css';

@import 'templates/axeld/swiper.scss';
@import 'templates/axeld/tabs.scss';
@import 'templates/axeld/breadcrumbs.scss';
@import 'templates/axeld/header.scss';
@import 'templates/axeld/footer.scss';
@import 'templates/axeld/content.scss';
@import 'templates/axeld/search.scss';
@import 'templates/axeld/chek_counter_party.scss';
@import 'templates/users/users.scss';
@import 'templates/users/user.scss';

@import 'datepicker/datepicker.css';

@import 'components/mobile/mobile-menu-component.scss';
@import 'fancybox/fancubox6.scss';

@import 'style.scss';
@import 'animate.css';
