@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}




.breadcrumbs {
    position: relative;
    padding: 20px 0;
    min-height: 59px;

    ul {
        li {
            list-style-type: none;
            display: inline-block;
            color: $colorGrey;
            text-decoration: none;
            font-size: 15px;
            position: relative;
            a , span {
                color: $colorGrey;
                text-decoration: none;
                font-size: 15px;
                position: relative;
                padding: 0 4px;
                display: inline-block;
            }
            a:hover {
                text-decoration: underline;
            }
            &:first-child a {
                padding-left: 0;
            }
        }
    }

}

@media screen and (max-width:740px) {
    .breadcrumbs {
        padding-top: 5px;
        ul {
            li {
                display: block;
                font-size: 14px;
                a, span {
                    padding: 2px 0;

                }
                a {
                    text-decoration: underline;
                }
            }
            li.li_span {
                display: none;
            }
        }
    }
}

