@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

#content_content-component_3 {
    padding-bottom: 10px;
}

.contr_wrap_result {
    padding: 20px 0 0 0;
    display: none;
    &.active {
        display: block;
    }

    .h3_mod {
        line-height: 2.1rem;
        padding: 10px 0 8px 0;
        font-weight: 700;
        font-style: normal;
        font-size: 27px;
        color: $color;
    }

    .label_contr_h3 {
        padding: 16px 0 10px 0;
        font-weight: 600;
        font-size: 19px;
    }

    .row_Flex {
        display: flex;
        justify-content: flex-start;
        min-height: 48px;

        .contr_left {
            width: 40%;
            padding: 11px 0 11px 11px;
        }

        .contr_right {
            width: 60%;
            padding: 11px 0 11px 24px;
        }
    }

    .row_Flex:nth-child(2n+1) {
        background: #F5F5F7;
    }

    .check_status {
        padding: 16px;
        border-radius: 12px;
        margin: 16px 0 20px 0;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.3em;
        color: #ffffff;

    }
    .status1 {
        background: #43D38B;
    }
    .status2 {
        background: #FF931E;
    }
    .status3 {
        background: $colorRed;
    }
}
