@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


@mixin SourceSans3 {
    font-family: 'Source Sans 3 Variable', sans-serif;
}
footer
{
    border-top: 1px solid #e0e0e0 ;
    .footer_1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 20px 0;
        border-bottom: 1px solid #e0e0e0 ;
    }
    .footer_2 {

        padding: 30px 0 15px 0;
    }
    .footer_3 {
        border-top: 1px solid #e0e0e0 ;

     .footer_3__copy {
         color: $colorGrey;
         font-size: 15px;
         padding: 20px 0;

     }

    }
}
