@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.tabs {
    height: 48px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0 0 0;


    .tab {
        padding: 0 1.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;

        color: $color;
        font-size: 18px;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: 0.5px;
        border-radius: 4px;
        transition: 0.2s;
        cursor: pointer;
        margin-right: 5px;
        a {

            text-decoration: none;
        }

    }

    .tab.active,
    .tab:hover {
        background: rgba(239, 83, 63, 0.16);
        color: $colorRed;

    }

    .tab:first-child {
        /*   padding: 0 1.5% 0 0;*/
    }

    .tab:last-child {
        /* padding: 0 0 0 1.5%;*/
    }

}
