@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.menu-site {

    position: relative;
    .f_menu__flex {
        display: flex;
        gap: 10%;

        li {

            a {
                display: block;
                text-decoration: none;
                padding: 5px;
                color: $color;
                line-height: 1.3em;
                transition: 0.2s;
                &:hover {
                    color: $colorRed;

                }
            }

            &.active {
                a {
                    color: $colorRed;
                }
            }
        }
    }
}
