@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.checking-counterparty_checking-counterparty-component {
    position: relative;

    .search__wrapper {
        padding: 0 0 10px 0;
    }
    .form_counterparty {

    }
    .d-none {
        border: 1px solid #ccc !important;
        background: #ccc !important;

    }
}
