@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.home_everything-personal-account-component {
    position: relative;
    padding: 10px 0 40px 0;

    .personal_account_background {
        width: 100%;
        padding: 24px;
        background: #f0fcf6;
        border-radius: 12px;

        .personal_account__flex {
            display: flex;
            justify-content: space-between;
            width: 100%;


            .personal_account__left {
                width: 60%;
                padding-left: 40px;

                .personal_account__title {
                    padding: 10px 0;
                }

                .personal_account__desc {
                    color: $color;
                    font-size: 22px;
                    padding: 16px 0 10px 0;
                    line-height: 1.4em;

                }
                .personal_account__button {
                    padding: 14px 0;
                    .btn {
                        min-width: 220px;
                    }
                    .btn:first-child {
                        margin-right: 20px;
                    }
                }
            }

            .personal_account__right {
                width: 33%;
                min-height: 276px;
                position: relative;
                img {
                    position: absolute;
                    left: -20%;
                }
           }

        }





    }
}


@media screen and (max-width: 1140px) {

    .home_everything-personal-account-component {
        .personal_account_background {
            .personal_account__flex {

                overflow: hidden;
            }
        }
    }
}
@media screen and (max-width: 968px) {

    .home_everything-personal-account-component {
        .personal_account_background {
            .personal_account__flex {
                flex-direction: column;
                width: 100%;

                .personal_account__left {
                    width: 100%;
                    margin: 0 0 30px 0;
                }

                .personal_account__right {
                    width: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    min-height: 1px;
                    height: auto;
                    flex-direction: column;

                    .btn {
                        width: auto;
                        min-width: 250px;
                    }

                    img {
                        position: relative;
                        left: 0;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 742px) {

    .home_everything-personal-account-component {
        .personal_account_background {
            .personal_account__flex {
                .personal_account__left {
                    width: 100%;
                    margin: 0 0 30px 0;
                    padding: 0;
                    .personal_account__button {

                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            min-height: 1px;
                            height: auto;
                            flex-direction: column;


                        .btn:first-child {
                            margin:0 0 25px 0;
                        }

                    }
                }
            }
        }

    }


}


