@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.home_output-service-category-component {
    position: relative;
    padding: 10px 0 40px 0;

    ._osc__title {

        text-align: center;
        padding: 10px 0;
        width: 100%;
        position: relative;

    }

    ._osc__flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        position: relative;
        padding: 20px 0;

        ._osc__left {
            width: 30%;
        }

        ._osc__right {
            width: 30%;
        }

        ._osc__center {
            width: 40%;
        }

        .temp_title {
            padding: 0 0 14px 0;

            a {
                color: $color;
                text-decoration: none;
            }

            a:hover {
                color: $colorRed;
            }

            h2 {
                color: $color;
                font-size: 24px;
                font-weight: 500;
                text-align: center;
            }
        }

        .temp_desc {
            padding: 0 0 14px 0;
            text-align: center;
        }

        .temp_price {
            padding: 5px 0 10px 0;
            color: $colorRed;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
        }

        .temp_img {
            display: flex;
            justify-content: center;
            align-items: start;
            width: 100%;
        }

        .temp_button {
            padding: 10px 0 0 0;
            width: 100%;
            text-align: center;
        }

    }
}

@media screen and (max-width: 1168px) {
    .home_output-service-category-component {
       ._osc__flex {


           .temp_title {
               padding-bottom: 30px;
              h2 {
                 line-height: 1.2em;
               }
           }


       }

    }
}
@media screen and (max-width: 968px) {
    .home_output-service-category-component {

       ._osc__flex {
           flex-wrap: wrap;

           ._osc__left {
               width: 50%;
               margin: 0 0 40px 0;
               order: 1;
               .temp_title {
                   padding-right: 20px;
               }
               .temp_desc {
                   padding-right: 20px;
               }

           }

           ._osc__center {
               width: 100%;
               margin: 0;
               order: 3;
           }

           ._osc__right {

               width: 50%;
               margin: 0 0  40px 0;
               order: 2;

               .temp_title {
                   padding-left: 20px;
               }
               .temp_desc {
                   padding-left: 20px;
               }
           }


       }

    }
}


@media screen and (max-width: 742px) {
    .home_output-service-category-component {

       ._osc__flex {
           flex-wrap: wrap;

           ._osc__left {
               width: 100%;
               margin: 0 0 40px 0;
               order: 1;
               .temp_title {
                   padding-right: 0;
               }
               .temp_desc {
                   padding-right: 0;
               }

           }

           ._osc__center {
               width: 100%;
               margin: 0;
               order: 3;
               .temp_img {
                   img {

                   }
               }
           }

           ._osc__right {

               width: 100%;
               margin: 0 0  40px 0;
               order: 2;

               .temp_title {
                   padding-left: 0;
               }
               .temp_desc {
                   padding-left: 0;
               }
           }


       }

    }
}
@media screen and (max-width: 568px) {
    .home_output-service-category-component {
        ._osc__flex {


            .temp_title {
                padding-bottom: 20px;
                h2 {
                    line-height: 1.2em;
                }
            }


        }

    }
    ._osc__center {
        .temp_img {
            img {
                width: 90%;
                height: auto;
            }
        }
    }
}
