@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.home_useful-info-component {
    position: relative;
    padding: 10px 0 40px 0;
}

.teaser_info {
    position: relative;

    .teaser_info__flex {
        display: flex;
        justify-content: space-between;
        align-items: start;

        .teaser {
            width: 33%;
            height: 358px;
            overflow: hidden;
            background: #F5F5F7;
        }

        .teaser_img {
            padding: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .teaser_desc {
            padding: 0 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            line-height: 1.4em;
            max-height: 50px;
            overflow: hidden;
        }

        .teaser_button {
            padding: 24px;
            line-height: 1.4em;
        }

        .teaser_info__left {

        }

        .teaser_info__center {

        }

        .teaser_info__right {

        }
    }

}

@media screen and (max-width: 1440px) {

    .home_useful-info-component {
        .teaser_info__flex {
            .teaser_desc {
                align-items: start;
            }
        }
    }

}

@media screen and (max-width: 1168px) {

    .home_useful-info-component {
        .teaser_info__flex {
            .teaser {
                height: auto;
                min-height: 2px;
            }
            .teaser_img {
              img {
                  width: 100%;
              }
            }
        }
    }

}
@media screen and (max-width: 999px) {

    .home_useful-info-component {
        .teaser_info__flex {
            .teaser {
                height: auto;
                min-height: 2px;
            }
            .teaser_img {
                padding:16px 16px 16px 16px;
              img {
                  width: 100%;
              }
            }
            .teaser_desc {
                padding: 0 16px;
                font-size: 15px;
                max-height: 63px;
            }
        }
    }

}

@media screen and (max-width: 794px) {

    .home_useful-info-component {
        .teaser_info__flex {
            display: block;
            .teaser {
                height: auto;
                min-height: 2px;
                width: 100%;
            }
            .teaser_img {
                padding:16px 16px 16px 16px;
                img {
                    width: 100%;
                }
            }
            .teaser_desc {
                min-height: 1px;
                max-height: 1000px;
                height: auto;
                display: block;
                text-align: left;
            }
        }
    }

}





