.exchange {
    padding: 40px 0;
    color: #FFFFFF;

    .mod_search_blue {
        max-width: 1200px;
        margin: 0 auto;
        height: 270px;
        background: #575EEF;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;

        h2 {
            font-size: 36px;
            color: #FFFFFF;
            line-height: 100%;
            font-weight: 600;
            text-align: center;
            position: relative;

        }

        .m_sb_top {
            padding: 16px 0 0 0 ;
        }

        .m_sb_middle {

        }

        .m_sb_bottom {

        }
    }

    .row_form_800 {
        max-width: 800px;
        min-height: 56px;
        margin: 0 auto;
        background: #fff;
        border-radius: 8px;
        padding: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .row_form_800__left {

            width : 100%;
            margin: 0 10px 0 10px;
            padding: 0 0 0 36px;
            background-repeat: no-repeat;
            background-position: 0 8px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOCAxMEMxOCAxNC40MTggMTQuNDE4IDE4IDEwIDE4QzUuNTgyIDE4IDIgMTQuNDE4IDIgMTBDMiA1LjU4MiA1LjU4MiAyIDEwIDJDMTQuNDE4IDIgMTggNS41ODIgMTggMTBaIiBzdHJva2U9IiM2Rjc4OTMiIHN0cm9rZS13aWR0aD0iMS42IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTIyIDIyTDE2IDE2IiBzdHJva2U9IiM2Rjc4OTMiIHN0cm9rZS13aWR0aD0iMS42IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');

            input[type="text"] {

                border : none !important;
                margin-bottom: 0 !important;
                width: 100%;
                height: 100%;
                min-height: 40px;
                color: #000000;
            }

        }

        .row_form_800__right {


        }
    }

    .sub_m_sb_flex {
            display: flex;
            color: #fff;
            margin: 4px auto 10px auto;
            font-size: 22px;
            max-width: 760px;
            height: 24px;
            line-height: 24px;
        span {
            padding: 0 8px;
        }
        a {
            color: #FFFFFF;
            text-decoration: none;
        }

    }
}
