@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorGreen2: #43D38B;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.cabinet-user_cabinet-user-personal-data-relation {
    position: relative;

    .block_grey,
    .block_green {
        width: 100%;
        position: relative;
        margin: 10px 0 26px 0;
        border-radius: 12px;
        min-height: 90px;

        .__head {
            color: #ffffff;
            height: 44px;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 0 10px 0 20px ;
            border-radius: 12px 12px  0  0;

        }

        .__body {
            width: 100%;
            min-height: 60px;
            height: 100%;
            background: #F5F5F7;
            position: relative;
            border-radius:0 0 12px 12px;
            padding: 16px 10px 16px 20px ;
            .__body__option {
                padding: 4px 0;

            }


        }
    }
    .block_grey {
        .__head {
            background: $colorGrey;
        }
    }

    .block_green {
        .__head {
            background: $colorGreen2;
        }
    }
}


.block_published {
    width: 100%;
    min-height: 40px;
    position: relative;
    margin: 10px 0 26px 0;

    color: #fff;
    .__on {
        background: $colorGreen2;
        border-radius: 12px;
        padding: 24px;
        .h3 {
            line-height: 1.1em;
            padding-bottom: 24px;
        }
    }

    .__off {
        background: $colorRed;
        border-radius: 12px;
        padding: 24px;
        .h3 {
            line-height: 1.1em;
            padding-bottom: 24px;
        }
    }

}
.block_exit {
    .btn {
        width: 100%;
    }
}
