@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.cabinet-user_cabinet-user-personal {
    position: relative;
    padding: 10px 0;

    .cabinet_user_personal__flex {

        position: relative;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: stretch;



        .cabinet_user_personal__left {
            width: 200px;
            min-width: 200px;
            position: relative;


        }

        .cabinet_user_personal__right {
            width: 100%;
            position: relative;

        }
    }

    .cu_username {
        max-width: 400px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
       flex-direction: column;
    }

}
