@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


@mixin SourceSans3 {
    font-family: 'Source Sans 3 Variable', sans-serif;
}

.mzp_mzp-content-component {
    position: relative;

    .mzp_th {
        display: flex;
        justify-content: space-between;
        position: relative;
        border-bottom: 1px solid #E0E0E0;
        color: $color;
        text-decoration: none;
        transition: 0.3s;
        div, span {
            text-decoration: none;

        }

        .mzp_th__td {
            width: 25%;
            padding: 16px 20px 16px 16px;
            position: relative;

            &:last-child {
                padding-right: 0;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        &:nth-child(2n) {
            background: #FFF1F0;
        }
        &:hover {
            background: rgba(239, 83, 63, 0.16);

        }
    }

    .td__text {
        padding: 10px 0;
    }

    .td__date {
        padding: 0 0 10px 0;
        color: $colorGrey;
    }

    .tr__bold,
    .td__bold {
        font-weight: 600;
    }

    .mzp_year {
    padding: 24px 16px;
        font-weight: 600;
        font-size: 22px;
    }
    .td__title {
        display: none;
    }
}

@media screen and (max-width: 742px) {

    .mzp_mzp-content-component {
        .td__title {
            display: block;
            font-size: 15px;
            font-weight: 600;
            color: $colorGrey;

        }
        .mzp_th {
            flex-wrap: wrap;
            .mzp_th__td {

                width: 50%;
                padding: 16px 20px 16px 16px;
                position: relative;
            }
        }
        .mzp_th__top {
            display: none;
        }
    }


}
@media screen and (max-width: 468px) {

    .mzp_mzp-content-component {
        .td__title {


        }
        .mzp_th {
            flex-wrap: wrap;
            .mzp_th__td {

                width: 100%;
                padding: 16px;
                position: relative;
            }
        }

    }


}
