@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.auth {
    position: relative;
    background-color: #F5F5F7;
    margin-bottom: 30px;
    .block_content__title {
        padding: 50px 0 20px 0;
        text-align: center;
    }
    .window_white_wrap {
        width: 100%;
        padding: 44px 0 40px 0;
        position: relative;
    }

    .window_white {
        position: relative;
        max-width: 460px;
        width: 100%;
        height: auto;
        min-height: 200px;
        background: #fff;
        border-radius: 12px;
        margin: 0 auto;

        .window_white__padding {
            padding:44px 24px 24px 24px;
            position: relative;
        }
    }
    /* Убираем подсветку автозаполненных полей */
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 5000s ease-in-out 0s;
    }
    .auth_links {
        padding:10px 0 6px 0;
        a {
            display: block;
            line-height: 100%;
            text-align: center;
            padding: 5px 0 ;
            color: $colorGrey;
        }
    }
    &.sign_up {
        // дописать можно
    }
}

.window_white__title {
    position: relative;
    top: -20px;
    padding: 10px 0;
    .h1 {
        font-size: 28px;
        padding-bottom: 4px;
    }
}

@media screen and (max-width: 742px) {
    .auth {
        .window_white_wrap {
            padding-top: 31px;
        }
       .block_content__title {
            padding: 30px 0 20px 0;
        }
    }
}

